@charset "UTF-8";
* {margin:0; padding: 0; font-family:'Noto Sans KR', sans-serif;}
ul,ol,li {list-style: none; font-family: 'Noto Sans KR', sans-serif;}
h3, h4, h5, p {font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: #333;}

header{width: 100%; 
    height:150px; 
    z-index: 7; 
    position:relative; 
    margin:0 auto; }

#logo {width: 155px; 
    height:50px;
    z-index: 6; 
    position:absolute; 
    top: 100px; left:310px;}

#logo img:hover{transition: 0.1s; 
    filter : invert(1) drop-shadow(0px 5px 3px rgb(114, 114, 114));}

nav {width:850px; 
    height:30px;
    margin: 0 0 0 410px;
    z-index: 5; 
    position:absolute; 
    top: 100px; left:21%;}
nav ul > li {float: left; padding: 0 30px; }
nav ul > li:nth-of-type(1) {width: 4.5em;}
nav ul > li:nth-of-type(2) {width: 10.5em;}
nav ul > li:nth-of-type(3) {width: 6em;}
nav ul > li:nth-of-type(4) {width: 5em;}
nav ul > li:nth-of-type(5) {width: 5em;}
nav ul > li a{display:block; 
    color:#333; 
    font-size: 20px;
    margin:0 10px 0 10px; 
    text-align: center;}
nav ul > li a:hover {color: rgb(39, 42, 78); 
    font-weight: bold;}

    
#slide_subproduct {
        width: 800px; 
        height: 300px;
        margin: 80px auto 0; 
        position: relative; 
        overflow: hidden;
    }

    .slide {width: 1400px;}
    .slide li {width: 200px; height: 200px; float: left;}
    .slide li img {width: 100%; }
    .slide img:hover {transform: scale(1.2); 
        transition: all 0.3s ease;}
    .p1 {text-align: center;
        font-size: small;
        color: #333;
        font-weight: bold;}
    .p2 {text-align: center;
        color: #666;
        font-size: small;
    }
    .p1_select {text-align: center;
        font-size: small;
        color: rgb(161, 70, 14);
        font-weight: bold;}
    .p2_select {text-align: center;
        color: rgb(161, 70, 14);
        font-size: small;
        }


    #slide_subproduct > span {position: absolute; 
        top:50%;
        display: block; 
        font-size: 38px; 
        color:#fff;
        text-shadow: 1px 2px 2px #666;
        cursor: pointer; 
        height: 70px; 
        transform: translateY(-50%); }
                
    #slide_subproduct > span:hover {color:#333;
        text-shadow: 1px 2px 2px #666;}
                
    .prev {left:0px; border-radius: 0 10px 10px 0px; padding: 0 8px 0 2px;}
    .next {right:0px; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}


#pop {float: left;
    width: 100%;
    margin: 80px 0 0;
    background-image: url("../img/flower.png");
    background-repeat: no-repeat;
    background-position: 93% 40%;
    background-size: 22%;
    filter :drop-shadow(10px 15px 10px rgb(177, 177, 177));
}

.popbox {float: left;
    background-color: rgb(247, 241, 234);
    width: 55%;
    min-height: 90%;
    margin: 0px 23% 0 ;
    overflow: hidden;
}
.popimgbox img {float: left;
    margin: 7% 0 0;
    width: 50%;
 }
.poptextbox {float: right;
    width: 50%;
    height: 600px;
    background-color: rgb(228, 223, 240);}
.poptextbox h2 {margin: 30% 10% 0 15%;
    font-size: 1.5em;
    font-family:'Libre Baskerville', serif;
}
.poptextbox h4 {font-size: 1em;
    margin: 5px 10% 0 15%;
}
.poptextbox p {margin: 15px 30% 0 15%;
    font-size: 0.9em;
    color: #666;
}
.poptextbox h5 {margin: 150px 0 0 15%;
    text-align: left;
    font-size: 1em;
}
.poptextbox > span:nth-of-type(1) {display: block;
    margin: 5px 30% 0 15%;
    text-align: left;
    font-size: 0.9em;
}
.poptextbox > span:nth-of-type(2) {display: block;
    margin: 15px 30% 0 15%;
    text-align: left;
    font-size: 1em;
    font-weight: bolder;
}

.poptextbox > span:nth-of-type(3) {display: inline-block;
    margin: 20px 0 0 15%;
    float: left;
    font-size: 1em;
    font-weight: bolder;
}
.productnum {float: left;
    margin: 21px 30% 0 7px;

}


.poptextbox > button {float: left; 
    background-color: transparent;
}
.poptextbox > .imgbutton {border: none;
    float: left; 
    margin: 30px 0 0 0 ;
    padding: 0 7% 0 15%;
}
.poptextbox > .imgbutton img {width: 45px;
}
.poptextbox > .buybutton {float: left;
    margin: 38px 0 0 0 ;
    border: 2px solid black;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 0 0 0 10px;
    width: 100px;
    height: 30px;
    line-height: 2em;
}
.poptextbox > .buybutton:hover {background-color: rgb(174, 166, 194);; cursor: pointer;}


.scroll_bottom img {margin: 60px 0 0 48.5%;
    width: 70px; height:55px;
    filter: drop-shadow(1px 2px 2px rgb(114, 114, 114));}

.undertextbox {width: 50%;
    float: left; 
    margin: 50px 25% 0 ;
    text-align: center;
}
.undertextbox > h2 {font-size: 2em;
    font-family:'Libre Baskerville', serif;
    margin: 20px 0 30px 0;
}
.undertextbox > p {font-size: 0.9em;
}

#photo {background-image: url("../img/store.jpg");
      width: 100%; height:300px; 
      margin: 70px 0 0;
      float: left;
      position: relative;
    }
.photobtn{position: absolute; 
        top: 47%; left:45%;
        width: 180px;
        height: 50px;
        font-family:'Libre Baskerville', serif;
        font-size: 20px;
        border: none;
        color: black;
        font-weight: bold;
        background-color: rgb(255, 255, 255,0.5);
    }
    .photobtn:hover{background-color: rgb(255, 255, 255,0.9);
    cursor: pointer;
    box-shadow: 1px 2px 2px white;
    }    

#video {float: left;
    margin: 10% 10% 0 10%;
}
#video video {width: 100%;
    /*border-radius: 50%;*/
}

.undertextbox2 {width: 50%;
    float: left; 
    margin: 50px 25% 0 ;
    text-align: center;
}
.undertextbox2 > h2 {font-size: 1.2em;
    font-family:'Libre Baskerville', serif;
}
.undertextbox2 > h3 {font-size: 1em;
    margin:30px 0 20px 0;
}
.undertextbox2 > p {font-size: 0.9em; 
    color:#666;
}

hr {float: left;
    opacity: 0.5;
    width: 80%;
    display: block;
    margin: 70px 0 0 10%;
} 

#sub_review {float: left;
    width: 100%;
    margin: 80px 0 80px 0 ;
}


.purchase_review {float: left;
    width: 50%;
}

.purchase_review > h2 {
    margin: 0 15%;
}

.purchase_review_box {
    margin: 20px 15%;
}


.purchase_review_box > span {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}
.purchase_review_box > span > a {
    display: inline;
    font-size: small;
    font-weight:100 ;

}
.purchase_review_box > p {
    display: none;
    padding: 0 10px;
    color: #666;
}

.photo_review {float: left;
    width: 50%;
}
.photo_review > h2 {
    margin: 0 15% 30px 15%;
}
.photo_review img {float: left; width: 20%; height:120px;
    margin: 0 10px 0 0;}
.photo_review img:hover {opacity: 0.7; cursor: pointer;}
.photo_review > img:nth-of-type(1) {margin: 0 10px 0 15%;}

footer {float: left; background: rgb(239, 233, 233); width: 1920px; height:420px; margin:0 auto;}

#footerbox {float: left; width: 1300px; margin: 0 310px 0 310px;}
#footerbox p {float: left; color: #666; width:380px; height: 150px; margin:40px 15px;}
#footerbox img {float: left; margin:40px 0; width:50px; height: 50px;}

#footerbox ul {float: left;  padding: 0; margin:0 0 0 15px;}
#footerbox ul li {float: left; margin:0; padding: 0 40px 0 0;}
#footerbox ul li a {color: #666;}

#footerbox span {float: left; margin:40px 0 0 15px; color: #666;} 
